.Rproj.user
.Rhistory
.RData
.Ruserdata

# intermediate steps of analysis development workflow
scripts/JvO/former_analysis_scripts/*
scripts/JvO/nuuk_shrub_drivers*
scripts/NathalieChardon/extract_tri_jonathan_plots_nuuk_JA.R

# literature review (excluded from manuscript)
literature_review/

# detailed workflow documentation
documentation/

# markdown files in analysis folders
analyses_tcws/*.Rmd
analyses_main_twi/*.Rmd
analyses_main_twi/*.rmd

# original script for wetness predictor comparison
analyses_tcws/wetness_predictor_assessment.R